.about {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about h2 {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #333;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  margin-bottom: 0.5rem;
}

.cv-button-about {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem; 
  font-family: inherit; 
  line-height: normal; 
}

.cv-button-about:hover {
  background-color: #ed4040;
}

.skills li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.interests ul {
  list-style: none;
  padding: 0;
}

.interests ul li {
  margin-bottom: 0.5rem;
}
